<% if defined? failure %>
    <div class="error">
        <%= failure %>
    </div>

<% elsif defined? success %>
    <div class="success">
        <%= success %>
    </div>
<% end %>

<section id="register">
    <h1>Wellcome to alexandra</h1>
    <h2>
        It seems your are using Alexandra foe the first time.<br />
        Please register an admisnitrator account.
    </h2>
	<form action="/admin/first_use" method="post">
		<label>
            Username: <br /> <input type="text" name="username" />
        </label>
        <label>
            Password: <br /> <input type="password" name="password" />
        </label>
        <label>
            Confirm Password: <br /> <input type="password" name="confirm_password" />
        </label>
		<input type="submit" value="Register">
	</form>
</section>
