<% @user.loans.each do |loan| %>
    <section id="loan">
        <h1><%= Alexandra::DB::Book.get(loan.book_id).title %></h1>
        <dl>
            <dt>From Date:</dt>
            <dd><%= loan.from_date %></dd>
        </dl>
        <dl>
            <dt>To Date:</dt>
            <dd><%= loan.to_date %></dd>
        </dl>
    </section>
    <section class="admin">
        <a href="#" class="button">return</a>
        <a href="#" class="button">extend</a>
        <a href="#" class="button">delete</a>
    </section>
<% end %>