<section id="delete">
	<form action="/user/<%= escape @user.username %>/delete" method="post">
		<h1>Delete user <%= escape @user.username %>?</h1>
		<input type="submit" value="delete" />
		<a href="/user/<%= escape @user.username %>" class="button">cancel</a>
	</form>
</section>